APP_NAME="Retobluto Notification Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8005

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Docker:
# DB_HOST=notification-db
# DB_DATABASE=notification_db
# DB_USERNAME=notification_user
# DB_PASSWORD=notification_password
#
# Local XAMPP:
# DB_HOST=127.0.0.1
# DB_DATABASE=arenalo_notification_db
# DB_USERNAME=root
# DB_PASSWORD=
DB_CONNECTION=mysql
DB_HOST=notification-db
DB_PORT=3306
DB_DATABASE=notification_db
DB_USERNAME=notification_user
DB_PASSWORD=notification_password

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=file
CACHE_PREFIX=notification_service_cache

QUEUE_CONNECTION=redis

# Docker: REDIS_HOST=redis
# Local:  REDIS_HOST=127.0.0.1
REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=

# Important for Redis Pub/Sub listener.
# 0 means no read timeout while waiting for published messages.
REDIS_TIMEOUT=5
REDIS_READ_WRITE_TIMEOUT=0

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=your_email@gmail.com
MAIL_FROM_NAME="Retobluto Arena"

# Docker:
# AUTH_SERVICE_URL=http://auth-service:8000
# MEMBER_SERVICE_URL=http://member-service:8000
# BOOKING_SERVICE_URL=http://booking-service:8000
#
# Local:
# AUTH_SERVICE_URL=http://127.0.0.1:8001
# MEMBER_SERVICE_URL=http://127.0.0.1:8002
# BOOKING_SERVICE_URL=http://127.0.0.1:8004
AUTH_SERVICE_URL=http://auth-service:8000
MEMBER_SERVICE_URL=http://member-service:8000
BOOKING_SERVICE_URL=http://booking-service:8000

INTERNAL_SERVICE_SECRET=retobluto_internal_secret