# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.*
!.env.example

# Laravel
/vendor
/node_modules
/storage/*.key
/bootstrap/cache/*.php
/storage/logs/*.log

# Composer
composer.lock

# Docker
docker-data/
mysql-data/
postgres-data/
redis-data/

# Hasura
hasura/metadata/databases/databases.yaml
hasura/config.yaml

# Logs
*.log